@import "../../../styles/variables.scss";

.secondIntro {
  background-color: $primary-ll;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 30px 30px;
  padding-top: $default-padding;
  .titleContainer {
    color: $background;
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    align-items: center;
    text-align: center;
    .firstPartContainer {
      display: flex;
      flex-direction: row;
      gap: 24px;
      .marker {
        font-size: 36px;
        font-weight: lighter;
        color: $background;
        margin: 0 -0.4em;
        padding: 0em 0.4em;
        border-radius: 0.8em 0.3em;
        background: transparent;
        background-size: 0% 100%;
        background-image: linear-gradient(
          to right,
          rgba(255, 225, 0, 0.1),
          rgba(255, 225, 0, 0.5) 4%,
          rgba(255, 225, 0, 0.3)
        );
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        animation-fill-mode: forwards;
        background-repeat: no-repeat;
        animation: none;
      }

      .highlightActivated {
        animation: highlight 2s ease forwards; /* Ensure duration, easing, and forwards behavior */
      }
    }
    .title {
      font-weight: lighter;
      font-size: 36px;
      margin: 0;
    }
  }
  .secondIntroItems {
    flex: 1;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .titleContainer {
    font-size: xx-large !important;
  }
  .secondIntroItems {
    grid-template-columns: 1fr !important;
  }
  .firstPartContainerRU {
    flex-direction: column !important;
    gap: 0 !important;
  }
}

@keyframes highlight {
  from {
    background-size: 0% 100%; /* Start hidden */
  }
  to {
    background-size: 200% 100%; /* Fully visible */
  }
}
