@import "../../../../styles/variables";

.headerContainer {
  width: -webkit-fill-available;
  @include background-opacity($black, 0);
  display: flex;
  height: 8rem;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 10;
  padding: 0 $default-padding;
  .selectContainer {
    min-width: 120px;
    max-width: 120px;
    flex: 1;
  }
  .logoContainer {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    height: 68px;
    width: 68px;
  }
}
.headerContainerMobile {
  height: 6rem;
}
