@import "../../../styles/variables";

.headerContainer {
  width: -webkit-fill-available;
  @include background-opacity($black, 0);
  display: flex;
  height: 8rem;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 10;
  padding: 0 $default-padding;
  .selectContainer {
    max-width: 16rem;
    height: 3rem;
    flex: 1;
  }
  .logoContainer {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    height: 68px;
    width: 68px;
  }
}

.selectOption {
  color: $primary-l !important;
  padding: 8px 8px !important;
  font-size: large !important;
  &.rtl {
    direction: rtl;
  }
  &:hover {
    @include background-opacity($primary-l, 0.3);
  }
  &[aria-selected="true"] {
    @include background-opacity($primary-l, 0.4);
    color: $background-dd !important;
  }
}

@media (max-width: 768px) {
  .logoContainer {
    flex: 1 !important;
  }
  .selectOption {
    color: $primary-ll !important;
  }
}
