@import "../../../styles/variables";

.treatmentsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  .treatmentsTitle {
    font-size: xx-large;
    // font-weight: bold;
    line-height: 350%;
    color: $background;
    letter-spacing: 1px;
  }
  .treatments {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .treatments {
    flex-direction: column !important;
    gap: 30px;
  }
}
