@import "../../../styles/variables";

.treatmentsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  .treatmentsTitle {
    font-size: x-large;
    text-align: start;
    color: $background;
    letter-spacing: 1px;
    font-weight: 400;
  }
  .treatments {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    align-items: stretch;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .treatments {
    flex-direction: column !important;
    align-items: center !important;
    gap: 30px;
  }
}
