@import "../../../styles/variables";
.introContainer {
  height: 86vh;
  position: relative;
  .coverContainer {
    position: relative;
    display: flex;
    height: 100%;
    .coverGradient {
      position: absolute;
      background: linear-gradient(0.5turn, $black, rgba(0, 0, 0, 0));
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      .coverContent {
        position: absolute;
        top: 16%;
        color: $text-primary;
        text-align: center;
        display: flex;
        width: 500px;
        flex-direction: column;
        .titleText {
          font-size: 40px;
          font-weight: 700;
          letter-spacing: 4px;
        }
        .subtitleText {
          font-size: x-large;
          line-height: 125%;
          letter-spacing: 2px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .introContainer {
    height: 90vh;
    .coverContent {
      flex-direction: column;
      width: 80% !important;
      .subtitleText {
        font-size: large !important;
      }
    }
  }
}
