@import "../../../styles/variables";

.contactUsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  // background-color: $primary-ll;
  border-radius: 30px 30px 0 0;
  .title {
    display: flex;
    color: $background;
    font-size: x-large;
    font-weight: 200;
    justify-content: center;
    padding-top: 1rem;
  }
  .content {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column !important;
  }
}
