@import "../../../styles/variables";
.container {
  display: flex;
  font-size: large;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  flex-direction: row;
  gap: 1rem;
  height: 80px;
  color: $background;
}
