@import "../../styles/variables";

.app {
    background-color: red;
    height: 90vh;
    display: flex;
    flex-direction: column;   
    .content {
        margin-top: 30px;
        background-color: green;
        font-size: xx-large;
    }
}
.rtl {
    direction: rtl;
}