@import "../../styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.app {
  position: relative;
  h1 {
    font-family: "Lora", serif;
  }
  font-family: "Inter", sans-serif;
}
.rtl {
  direction: rtl;
  h1 {
    font-family: "Alef", sans-serif;
  }
  font-family: "Open Sans", sans-serif;
}
