@import "./variables.scss";

:export {
  primary: $primary;
  primary-d: $primary-d;
  primary-l: $primary-l;
  primary-ll: $primary-ll;
  background: $background;
  background-d: $background-d;
  background-dd: $background-dd;
  black: $black;
  text-primary: $text-primary;
  default-padding: $default-padding;
}
