@import "../../../styles/variables";

.container {
  display: flex;
  flex-direction: row;
  height: 42px;
  font-size: smaller;
  align-items: center;
  direction: ltr;
  justify-content: center;
  background-color: $gray;
  border-top: 1px solid $primary-ll;
  margin-top: $default-padding;
  .freepik {
    display: flex;
    white-space: pre;
    align-items: center;
    .text {
      color: $black;
    }
    .buttonLink {
      color: blue;
      text-decoration: none;
    }
  }
}
