@import "../../../styles/variables";

.container {
  display: flex;
  flex-direction: row;
  height: 36px;
  font-size: smaller;
  align-items: center;
  direction: ltr;
  justify-content: center;
  background-color: $gray;
  border-top: 1px solid $primary-ll;
  margin-top: $default-padding;
  .text {
    color: $black;
  }
  .buttonLink {
    color: blue;
    text-decoration: none;
  }
}
